<div class="index-header">
  <div class= "container">
    <div class = "row">
      <div class = "col-md-12">

        <h2 class= 'show-title text-center'> All Species available in our database</h2>
        
          <div class="panel panel-default">
            <div class="panel-heading text-center"><h4 class='text-center'>Species Name </h4></div>
            <div class="panel-body">        
        
              <% @fossils.each do |x| %>
              
                <%= link_to directory_species_path(x.phylum_id, x.id) do%>
                  <%= x.species_name %> </br>
                <% end %>  
                  
              <% end %>
        
          </div> <!-- panel body end -->
        </div><!-- panel end -->
      </div> <!-- col end -->
    </div>
  </div>
</div>