<div class="index-header">
  <div class= "container">
    <div class = "row">
      <div class = "col-md-12">
          
          
        <h2 class= 'text-center show-title'><strong>About </strong> </h2>
        
          
        <div class="panel panel-default">
          <div class="panel-heading text-center"><h4 class='text-center'> Site information and references </h4></div>
            <div class="panel-body">   
              <div class ='a-well'>
                <h4><strong> Marine Species Fossil Database </strong></h4>
                <p> The purpose of this website is to serve as an introductory paleontology application, where a person can obtain brief information about some of the major groups of marine phyla as well as a visual reference for a number of species.</p>
                <p> This application is a pet project that I've been meaning to create ever since I started learning about web development, and it's based on an undergraduate course project I did some time ago.  This website is currently still under construction, and it will gradually continue to change as I slowly add, review & rectify information and/or learn new technologies that I might want to integrate.</p>
                
                </br>
                <h4><strong> References/Further Reading </strong></h4>
                <p> <i>All the information found within this piece of work originates from or has been supported with the following sources:</i></p>
                <p> Allison, P.A., and Bottjer, D.J., 2011, Taphonomy Process and Bias Through Time: Dordrecht, Springer Netherlands, v. 32. </p>
                <p> Behrensmeyer, A. K., and A. Turner. 2013. Taxonomic occurrences of Suidae recorded in the Paleobiology Database. Fossilworks. http://fossilworks.org.</p>
  				      <p> Carpenter, K. E. and Niem, H. V., 1998. The Living Marine Resources of the Western Central Pacific, Vol. 1: Seaweeds, corals, bivalves and gastropods. Rome: Food and agriculture organization of the United Nations.</p>
  				      <p> Doyle, P. 1996., Understanding fossils: An introduction to invertebrate paleontology, 1st ed, 426. New York: Wiley.</p>
  				      <p> Edwards, C.L., 1908, Biometry as a Method in Taxonomy: The American Naturalist, v. 42, p. 537-540. </p>
  				      <p> Gaines, R.R. and Droser, M.L. 2003. Ecology of the familiar trilobite Elrathia kingi: an early exaerobic zone inhabitant. California: Department of Earth Sciences, University of California.</p>
  				      <p> Mercado, S.H., Paleontology lectures & presentations. </p>
  				      <p> Moore, R.  C., et al., Treatise on Invertebrate Paleontology, Volumes A through W. Boulder, Colorado: Geological Society of America; and Lawrence, Kansas: University of Kansas Press.</p>                
                <p> WoRMS Editorial Board (2017). World Register of Marine Species. Available from http://www.marinespecies.org at VLIZ. Accessed 2017-02-28. doi:10.14284/170 </p>  				      
                </br>
                <h4><strong> Github repository </strong></h4>
                <p> https://github.com/arac-codespace/fossil_app </p>
              
              </div>
            </div>
          </div>    
        </div>    
          
        
      </div>  
    </div>
  </div>
</div>