<div class="container info-container">
	<div class="row">
    <div class="col-md-12">
     
 
    <ul class="nav nav-tabs">
      <li><a href="#section1">Section 1</a></li>
      <li><a href="#section2">Section 2</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
    
    
    <!-- Section 1 -->
    <div id="section1">
      <h1>Section 1</h1>
      <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
    </div>
      
      
    <!-- Section 2 -->
    <div id="section2">
      <h1>Section 2</h1>
      <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
    </div>      
      
      
    </div>
	</div>
</div>  