<div class="container info-container">
	<div class="row">
    <div class="col-md-12">
      
      <h2 class= 'show-title text-center'> <strong> General Information </strong></h2>
      
     
      <div class='col-md-12' id='info-sidenav'>
        <ul class="nav nav-tabs">
          <li><a href="#section1"> Introduction </a></li>
          <li><a href="#section2"> Preservation</a></li>
          <li><a href="#section3">Environment & Age Indicators </a></li>
          <li><a href="#section4"> References </a></li>
          
        </ul>
      </div> <!-- col nav end-->
      
      <div class='col-md-12 clearfix' id= 'info-body'>
        <div class = 'a-well'>

          <div id="section1">
            <h2><strong>What's a Fossil?</strong></h2>
            <p>Fossils are any traces of ancient life such as remains, traces or imprints of organisms that has been preserved by natural processes from some geologic past.  The examination and interpretation of fossils is an area of geological study called Paleontology.   Paleontologists utilize fossils in various ways although they are mainly used as; an aid in geologic mapping and stratigraphic correlation, as indicators of past depositional environments and as a representation of organic evolution and indicators of geologic time.</p>
          </div>
            
          </br>  
          <div id="section2">
            <h2><strong> Preservation and fossilization</strong></h2>
            <p>The process of fossilization is complex and the outcome is determined by a variety of physical, chemical and biological factors.  Broadly speaking however, there are two special conditions that determine the potential of preservation; possesion of hard parts and burial speed.</p>  
            </br>
            <p>The preservation of soft parts is rare as they are often destroyed by scavengers or decomposed by bacteria, therefore the remaining evidence of them is little to non-existent in the geologic record.  That said, rare occasions do happen where the entire body of an animal is preserved such as when insects are trapped in amber or when mammoths are frozen in ice.</p>
            </br>
            <h4> <strong>Some forms of fossilization are: </strong></h4>
            <ul>
              <li><p> Permineralization: Occurs when ground water seeps into the pores or cavities of an organism filling it with rock forming minerals (silica, calcite, pyrite...). </p></li>
              <li><p> Replacement: Occurs when the hard and sometimes even soft parts of an organism dissolves and is replaced by minerals. </p></li>
              <li><p> Recrystallization: Occurs when the original mineralogy of an organism transforms into a more stable mineral.  This process often results in the destruction of the organism’s internal structure. </p></li>
              <li><p> Trace fossils:  Refers to the preservation of organism activity such as fossilized burrows, tooth marks and footprints. </p></li>
              <li><p> Molds:  Fossilized impressions of an organism. </p></li>
              <li><p> Casts: Occurs when molds are filled with material resulting in a replica of the organism's external form. </p></li>
              <li><p> Coprolites: The preserved fecal matter left behind by animals. </p></li>
            
            </ul>
            </br>
            <h4> <strong>Bias on the fossil record </strong></h4>
            <p> As fossilization favors the preservation of organisms with hard parts, the fossil record shows a distorted view of ancient life with a bias for organisms with hard parts.  For instance, insects represent the most abundant type of organisms, but as they do not have hard parts, the percentage of fossil insect population represented by the fossil record is below 1%.  However, even organisms with hard parts are prone to post-mortem destruction which favors organisms that live in an environment that can provide ease of burial.  The chemical and biologic destruction of shell material is another way in which the record fossil may be biased.  Because of the mechanical, chemical and biological forces that may alter the original composition of the ancient organism community, the fossil record must be viewed as a biased and atypical of life at any period of time.</p>
          </div>
          </br>
          <div id='section3'>
            <h2><strong> Environment & Age Indicators </strong></h2>
            </br>
            <h4> <strong>Environmental Indicators </strong></h4>
            <p> Fossils can be useful for determining various clues of the past, including the ecologic conditions at a certain interval of time and the depositional environments.  They may also be used to determine the energy associated with the environment at the time, for instance, heavy shelled organisms are indicators of high energy conditions while softer-delicate shelled organisms are associated with environments of lower energy conditions like lagoons.
  	        Organisms of the present are also studied to understand the life style of organisms of the past. There are also studies aimed at establishing the relationship between organisms and the environment they need to live.  It’s important to note that fossils may be transported to areas where the environment does not represent the living conditions of the organism .  That is why in order to obtain accurate, meaningful information; geologists must try to collect an assemblage of fossils in a formation or an area. </p>
            </br>
            <h4> <strong>Index Fossils</strong></h4>
            <p>Fossils  in general can be used to determine the relative geologic age, as well as the paleoenvironment and the paleogeography of a particular area .  However, there exists certain “Index fossils” which are fossils especially useful for determining ages.  In order for a fossil to be considered an index fossil, it must meet the following criteria:</p>
            <ul>
              <li><p> The organism must have lived throughout a relatively short period of geologic time due to rapid evolution and should be abundant.</p></li>
              <li><p> The organism should have a wide geographic distribution and must be facies independent. </p></li>
              <li><p> The organism must be relatively easy to identify. </p></li>
            </ul>
            </br>
          </div>  
          <div id='section4'>
            <h2><strong> References </strong> </h2>
            </br>
			      <p> Doyle, P. 1996. Understanding fossils: An introduction to invertebrate paleontology, 1st ed, 426. New York: Wiley.</p>
			      <p> Mercado, S.H., Paleontology lectures & presentations.</p>
			      <p> Moore, R.  C., et al., Treatise on Invertebrate Paleontology, Volumes A through W. Boulder, Colorado: Geological Society of America; and Lawrence, Kansas: University of Kansas Press.</p>
          </div>  
          
        </div>  
      </div> <!-- info body col div end -->

    </div> <!-- col 12 end-->
	</div><!-- row end-->
</div>  <!-- container end-->