<div class="container info-container">
	<div class="row">
    <div class="col-md-12">
      
      <h2 class= 'show-title text-center'> <strong> General Information </strong></h2>
      
     
      <div class='col-md-12' id='info-sidenav'>
        <ul class="nav nav-tabs">
          <li><a href="#section1"> Introduction </a></li>
          <li><a href="#section2"> Preservation</a></li>
          <li><a href="#section3">Environment & Age Indicators </a></li>
          <li><a href="#section4"> References </a></li>
          
        </ul>
      </div> <!-- col nav end-->
      
      <div class='col-md-12' id= 'info-body'>
        <div class = 'a-well'>

          <div id="section1">
            <h2><strong>Introduction</strong> - <small> What's a fossil?</small></h2>
            <p>Fossils are any traces of ancient life such as remains, traces or imprints of organisms that has been preserved by natural processes from some geologic past.  The majority of the fossils are found within sedimentary rocks .  The examination and interpretation of fossils is an area of geological study called Paleontology .   Paleontologists utilize fossils in various ways although they are mainly used as; an aid in geologic mapping and stratigraphic correlation, as indicators of past depositional environments and as a representation of organic evolution and indicators of geologic time.</p>
          </div>
            
          </br>  
          <div id="section2">
            <h2><strong> Preservation </strong></h2>
            <p>Two of the main factors that determine the potential preservation of plants and animals are the durability of their internal hard parts or the presence of a shell, and the speed at which the structure is buried within a sedimentary environment .  The preservation of soft pats is rare as they are often destroyed and the remaining evidence of them is little to nonexistent in the geologic record .  Rare occasions do happen where the entire body of an animal is preserved such as insects trapped in amber from trees or mammoths frozen in ice .  Another case is when the organism goes through “carbonization”, which occurs when volatile components (hydrogen, nitrogen and oxygen) of the organic substance are burned off during decay and preserved as black impressions of the soft parts of the organism in question .  Another process that preserves bodies in almost entirely is called “desiccation”, that occurs when water from tissue is removed. </p>
            </br>
            <h4> <strong>Some forms of fossilization are: </strong></h4>
            <ul>
              <li><p> Permineralization, occurs when minerals such as silica, calcite or pyrite seep into and replaces the original hard parts of the organism forming a rock like fossil .  The mineral that replaces the organic tissue is often harder and more durable than the matter they replaced.</p></li>
              <li><p> Replacement, occurs when the hard parts of an organism dissolves and is replaced by minerals .  This occurs as an almost atom to atom substitution from organic matter to inorganic matter. </p></li>
              <li><p> Recrystallization which occurs when the original mineral matter of an  organism’s hard parts are reorganized forming bigger crystals of the same mineral or revert back into a more stable mineral .  This process however, often results in the destruction of the organism’s internal structure. </p></li>
              <li><p> Chemical fossils which are marks left behind by organic acids. </p></li>
              <li><p> Coprolites, the fecal matter left behind by animals and later on preserved. </p></li>
              <li><p> Trace fossils such as fossilized burrows and footprints. </p></li>
              <li><p> Mold fossils which are fossilized impressions of an organism. </p></li>
              <li><p> Cast fossils that form when molds are filled with a different material resulting in a replica of the organism. </p></li>
            </ul>
            </br>
            <h4> <strong>Bias on the fossil record </strong></h4>
            <p> As fossilization favors the preservation of organisms with hard parts, the fossil record shows a distorted view of ancient life with a bias for organisms with hard parts .  For instance, insects represent the most abundant type of organisms, but as they do not have hard parts, the percentage of fossil insect population represented by the fossil record is below 1% .  However, even organisms with hard parts are prone to post-mortem destruction, as such; organisms that live in an environment that can provide ease of burial are favored .   Another way in which the fossil record may be biased is due to chemical and biologic destruction of shell material .  For instance, calcium carbonate shells are may react with acidic ground water or marine waters, resulting in the shell being completely dissolved in a relatively short time span .   Destruction due to biologic action may also occur destroying the shells of organisms .  Because of the mechanical, chemical and biological forces that may alter the original composition of the ancient organism community, the fossil record must be viewed as a biased and atypical of life at any period of time.</p>
          </div>
          </br>
          <div id='section3'>
            <h2><strong> Environment & Age Indicators </strong></h2>
            </br>
            <h4> <strong>Environmental Indicators </strong></h4>
            <p> Fossils can be useful for determining various clues of the past, including the ecologic conditions at a certain interval of time and the depositional environments .  They may also be used to determine the energy associated with the environment at the time, for instance, heavy shelled organisms are indicators of high energy conditions while softer-delicate shelled organisms are associated with environments of lower energy conditions like lagoons .
  	        Organisms of the present are also studied to understand the life style of organisms of the past . There are also studies aimed at establishing the relationship between organisms and the environment they need to live .  For instance, various animals prefer sandy or muddy bottoms; others need to live in the photic zone and others live firmly attached to the seafloor .  Filter feeders need currents to bring them food and others need special conditions for reproduction .  It’s important to note that fossils may be transported to areas where the environment does not represent the living conditions of the organism .  That is why in order to obtain accurate, meaningful information; geologists must try to collect an assemblage of fossils in a formation or an area. </p>
            </br>
            <h4> <strong>Index Fossils</strong></h4>
            <p>Fossils  in general can be used to determine relative geologic age, paleoenvironment and the paleogeography of a particular area .  However, there exists certain “Index fossils” which are fossils especially useful for determining ages .  In order for a fossil to be considered an index fossil, it must meet the following criteria:</p>
            <ul>
              <li><p> The organism must have lived throughout a relatively short period of geologic time due to rapid evolution and should be abundant.</p></li>
              <li><p> The organism should have a wide geographic distribution and must be facies independent. </p></li>
              <li><p> The organism must be relatively easy to identify. </p></li>
            </ul>
            
            <p> In order to determine the age of rock strata, the following technique should be employed:</p>
            <ul>
              <li><p> Identification of each fossil’s phylum level followed by the determination of the specific name.</p></li>
              <li><p> Once the genus or species is known, the geologic range of the fossils is plotted on a geologic time diagram.</p></li>
              <li><p> Three assumptions must be made .  First, all fossil have been collected from the same formation or horizon representing one period of deposition .  Second, all fossil organisms lived together and represent life during a single interval of geologic time .  Third, the geologic range of each fossil is known.</p></li>
            </ul>
          <div id='section4'>
            <h2><strong> References </strong></h2>
            </br>
				      <p> Moore, R.  C., et al., Treatise on Invertebrate Paleontology, Volumes A through W. Boulder, Colorado: Geological Society of America; and Lawrence, Kansas: University of Kansas Press.</p>
				      <p> Doyle, P. 1996. Understanding fossils: An introduction to invertebrate paleontology, 1st ed, 426. New York: Wiley.</p>
          </div>  
          
          
          
          
          
          
          
          </div>
        </div>  
      </div> <!-- info body col div end -->

    </div> <!-- col 12 end-->
	</div><!-- row end-->
</div>  <!-- container end-->