<div class="index-header">
  <div class= "container-fluid">
    <div class = "row">
      <div class = "col-md-12">

        <h3>Marine Species Fossil Database </h3>
        
        <p>Press the menu icon to navigate through the site! </p>
        
        <%= link_to "Fossil index", directory_index_path %>
        <%= link_to "New Fossil", new_fossil_path %>
        
      </div>
    </div>
  </div>
</div>