  
  <h2> Kingdom: Animalia </h2>

<% @phylum.each do |x| %>  
  
  <% if x.kingdom_id == @animalia.id %>

    <%= link_to(index_('#{x.phylum_name.downcase}')) do %>
      <h3><%= x.phylum_name %></h3>
    <% end %>
    
  <% end %>
<% end %>    
  
  
  <h2> Kingdom: Protozoa </h2>
  