<div class="index-header">
  <div class= "container-fluid">
    <div class = "row">
      <div class = "col-md-12">
        <h3> Post index page</h3>

        <table id = "index-table" class='col-sm-12 col-md-12'>
          <tr>
            <th></th> <!-- No name for column -->
          </tr>

          <% @fossils.each do |f| %>
            <tr>
              <td>
                <!-- Table Data! -->
                <div class = 'row results-row'>
                  <!-- Information spacing and link_to -->
                  <div class ='col-md-12'>
                      <div>
                        <%= link_to f do %>
                          <h3> <%= f.species_name%></h3>
                        <% end %>
                      </div>
                      <!-- ... Better make a variable for that...-->
                    <h4><%= f.kingdom.kingdom_name + ' ' +  f.phylum.phylum_name + ' ' + f.fossil_class.class_name + ' ' + f.order.order_name + ' ' + f.family.family_name + ' ' + f.genera.genus_name %> </h4>
                    <p><%= f.summary %></p>
                  </div>
                </div>
              </td>
            </tr>
          <% end %> <!-- each loop end-->  
        </table>
        

      </div>
    </div>
  </div>
</div>