/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 */
 
@import 'bootstrap';
@import 'bootstrap-sprockets';

@import "font-awesome";
// @import "font-awesome-sprockets";


// GENERAL STYLING

h5 {
  font-size: 16px;
}

// Fixes sidebar multi line anchor spacing
.multi-line-a > p:first-child {
  margin-bottom: -15px;
}

// Background image
html { 
  background: url('fossil-bg-lg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

// Page content space from left side of sidebar
div.page-content {
  padding-left: 25px;
}

// BREADCRUMB STYLE
ol.breadcrumb {
  color: #ff9f1c;
  background-color: rgba(4, 15, 76, 0.70);
  margin-top: 10px;
  margin-bottom: 2px;
  border: none;
  border-radius: 0px;  
  
  a {
    color: white;
  }
}

// Hover color for breadcrumbs
.breadcrumb > li > a:hover {
  color: #ff9f1c;
}


// SIDEBAR CODE 

// Sidebar menu icon hover
a#menu-toggle > span:hover {
  color: #ff9f1c;
}

// Margin when sidebar is active and inactive.
.row {
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    position: absolute;
    left: 0;
    top: 0;
  // padding-left is overrided...
    padding-left: 150px;
    // Transitions the resizing between bar and content
    transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;    
    // Does nothing?  I guess it extends the content div vertically to full size.
    height: 100%;
    word-break: break-word;
}

// Sidebar general settings
#sidebar-wrapper {
  // Space to move the bar in and out of view. By default, it sits in the middle of the page... 
  // Must be consistant with toggle classes.
    margin-left: -160px;
    // Controls the spacing of the navbar once the initial position/margins are established.
    left: 160px;
    // Controls width of bar. 150 for consistency
    width: 160px;
    // Background color of the navbar div that extends vertically.
    background-color: rgba(4, 15, 76, 0.70); ;
    // Fixes position of navbar
    position: fixed;
    // Extends navbar vertical div to 100% screen
    height: 100%;
    // Higher stack makes this sidebar be in front of other elements.
    z-index: 5000;
    transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;    
}

// Style for elements inside the sidebar wrapper
.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

// Content/body settings
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    // Use this to adjust page content width.  NOTE:  Must adjust for media response
    width: 100%;
    padding-bottom: 50px;
    height: auto;
  
}
// Active class is for JS!
// When sidebar is active, space between wrapper/body and edge of sidebar...
#wrapper.active {
    padding-left: 70px;
}
// When sidebar is active, space to the left is increased by...
#wrapper.active #sidebar-wrapper {
    left: 70px;
}

// Body/content space avaible.  100% for full div width.
#page-content-wrapper {
  width: 100%;
}

// Controls styling of each individual element!
#sidebar_menu li a, .sidebar-nav li a {
    color: white;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: transparent;
}

.collapse-links li a {
  border-bottom: 1px solid white;
}

// Settings for the hamburger icon
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

// Sidebar text settings
.sidebar-nav li {
  // Height btw each link
  line-height: 40px;
  // Space from the left side of screen.
  text-indent: 20px;
}

// Color for text below menu
.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}

// Hover options...
.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

// More link interaction settings
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

// Menu div settings
.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

#main_icon
{
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}


// GENERAL MEDIA QUERIES

@media only screen and (max-width: 767px) {
  // landscape phones
    
  //Background image  
  html { 
    background: url('fossil-bg-767px-width.jpg') no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0% 65%;  
    min-height: 125%;
  }  
  
  // SIDEBAR CODE
  
  // Sidebar position
  #sidebar-wrapper {
    margin-left: -180px;
    // Allows scrolling of sidebar when it's smaller than viewport
    overflow: scroll;
  }
  
  #sidebar_menu li a, .sidebar-nav li a {
    width: 164px;
  }
  .sidebar-nav li {
    text-indent: 40px;
  }
  
  #wrapper {
    // When expanded, determines space between nav and content
    padding-left: 120px;
    // This fixes the awkward white space from vertical scrolling in chrome
    position: fixed;
    overflow: scroll;
    // For landscape, this allows elements to occupy full width
    width: 100%;
  }
  
  #page-content-wrapper {
    width: 100%;
  }
  
  div.dropdown {
    margin-bottom: 5px;
  }
  
  div.page-content {
    padding-left: 10px;
  }
  
  // When not expanded, determines spacing between nav and content page.
  #wrapper.active {
    padding-left: 20px;
  }  
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    
  // Background image
  html { 
    background: url('fossil-bg-md.jpg') no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 75% 0%;
    min-height: 125%;
    
  }
  
  // SIDEBAR CODE
  
  // Sidebar position
  #sidebar-wrapper {
    margin-left: -180px;
  }
  
  #sidebar_menu li a, .sidebar-nav li a {
    width: 164px;
  }
  .sidebar-nav li {
    text-indent: 40px;
  }
  
  #wrapper {
    // When expanded, determines space between nav and content
    padding-left: 120px;
    // This fixes the awkward white space from vertical scrolling in chrome
    position: fixed;
    overflow: scroll;
  }
  
  #page-content-wrapper {
    width: 100%;
  }
  
  div.dropdown {
    margin-bottom: 5px;
  }
  
  div.page-content {
    padding-left: 10px;

  }
  
  // When not expanded, determines spacing between nav and content page.
  #wrapper.active {
    padding-left: 20px;
  }

}