// BUTTON STYLING

// Search bar button styling
span > .btn-default {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(4, 15, 76, 0.70);   // 90% pinkish
    border: none;
    color: white;
    
}

span > .btn-default:hover {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(46, 196, 182, 0.8);
    border: none;
     color: white;
    
}

// Sort button styling

.dropdown > .btn-default {
  color: white;
  background-color: rgba(4, 15, 76, 0.70);
  border: none;
}

.dropdown > button.btn-default.dropdown-toggle:active {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(46, 196, 182, 0.8);
    border: none;
    color: white;
}

.dropdown > button.btn-default.dropdown-toggle:hover {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(46, 196, 182, 0.8);
    border: none;
    color: white;
}

.dropdown > button.btn-default.dropdown-toggle:focus {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(46, 196, 182, 0.8);
    border: none;
    color: white;
}

// DIRECTORY INDEX CSS
.index-title {
  font-family: serif;
  color: white;
  border-bottom: 8px solid #ff9f1c;
  border-bottom-style: double;
  background-color: rgba(4, 15, 76, 0.70);   // 90% pinkish
  padding: 10px;
}

// Applies hover color to phylums
.panel-body > .a-well > a > h5:hover {
  color: #ff9f1c;
}

// Applies hover color to phylum subitems
.panel-body > .a-well > ul > a > li > h5:hover {
  color: #ff9f1c;
}

// INDEX CSS STYLING - general?

// Foreground well
div.a-well {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.93);
  padding: 20px;
  border: 5px solid rgb(255, 159, 28);
  margin-top: 25px;
}

// Full panel styling
div.panel {
  background-color: transparent;
  border: none;
  margin-top: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;  
}

// Panel heading styling
.panel > div.panel-heading {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(4, 15, 76, 0.70); //blue with 80 opacity
  color: white;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 2px;
  padding-top: 2px;  
  
}

// Removes anchor default styling
div.panel-body > .a-well > a, div.panel-body > .a-well > ul > a {
  color: #1d2450;
  font-family: 'Roboto', sans-serif;
  
}

// Continuation - Panel body styling
div.panel-body {
  color: white;
  background-color: rgba(0, 0, 0, 0.36);
  padding-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;  
  font-family: 'Roboto', sans-serif;
  h5 > small {
    color: rgb(255, 159, 28);
  }
}
// Hover changes color
div.panel-body >a > h4:hover {
  color: #ff9f1c;
}

// DIRECTORY SHOW CSS

.show-title {
  font-family: serif;
  color: white;
  border-bottom: 8px solid #ff9f1c;
  border-bottom-style: double;
  background-color: rgba(4, 15, 76, 0.70);   // 90% pinkish
  padding: 10px;
}

div.description > ul > h5 {
  color: #1d2450;
}

.panel-body > .a-well > a > h4:hover {
  color: #ff9f1c;
}

// SPECIES SHOW CSS

// Avatar code
.avatar-element {
    border: 4px solid white;
}

// Changes species name color
div.panel-heading > h4 > small {
  color: rgb(255, 159, 28);
}

.panel-body > .a-well > h5 {
  color: #1d2450;
}

.panel-body > .a-well > p {
  color: #1d2450;
}