.show-title {
  font-family: serif;
  color: white;
  // border: 8px solid rgb(255, 159, 28); 
  border-bottom: 8px solid #ff9f1c;
  border-bottom-style: double;
  background-color: rgba(4, 15, 76, 0.70);   // 90% pinkish
}

.description > h5 > small {
  color: white;
}

.description > h5 {
  color: rgb(255, 159, 28);
}