.index-title {
  font-family: serif;
  color: white;
  // border: 8px solid rgb(255, 159, 28); 
  border-bottom: 8px solid #ff9f1c;
  border-bottom-style: double;
  background-color: rgba(4, 15, 76, 0.70);   // 90% pinkish
  padding: 10px;
}


div.panel {
  background-color: rgba(0, 0, 0, 0.36);
  border: none;
}

.panel > div.panel-heading {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(4, 15, 76, 0.70); //blue with 80 opacity
  // border-radius: 40px;
  color: white;
  border: none;
}

div.panel-body > a, div.panel-body > ul > a {
  color: white;
  font-family: 'Roboto', sans-serif;
  
  
}