// HOME PAGE STYLING

.home-title {
    font-family: serif;
    color: white;
    border: 12px solid rgb(255, 159, 28);
    border-style: double;
    background-color: rgba(4, 15, 76, 0.70);   // 90% pinkish
    padding: 10px;
    
}

.home-subtitle {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: small;
    padding: 12px;
    border-radius: 15px;
    // border: 2px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(4, 15, 76, 0.70);   // 90% pinkish
}

.home-buttons .btn-primary {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(4, 15, 76, 0.70);   // 90% pinkish
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
    a {
        color: white;
    }
}

.home-buttons .btn-primary:hover {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(46, 196, 182, 0.8);
    border-radius: 15px;
    
    a {
        color: white;
    }
}

