// margin from heading
div#info-sidenav {
  // Space between container and nav tabs
  padding-left: 0px; 
  padding-right: 0px;
  margin-top: 20px;
}

// A border below the tabs
ul.nav-tabs {
  border: none;
  background-color: rgba(4, 15, 76, 0.70);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ul.nav-tabs > li > a {
  // No border for no more hover shaking!
  border: none;
  color: white;
}

ul.nav-tabs > li > a:hover {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;   
  background-color: rgba(46, 196, 182, 0.8);
  // padding: 10px 15px;
}

ul.nav-tabs > li > a:focus {
  border: none;
  background-color: rgba(46, 196, 182, 0.8);
  // padding: 10px 15px;

  
}
// Applies to phylum info as well
div#info-body {
  color: #1d2450; //Body blue
  background-color: rgba(0, 0, 0, 0.36);
  // Padding for extra space at bottom
  padding-bottom: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

// PHYLUM INFO PAGE

.nav-tabs > li.active > a {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;  
}

.nav-tabs > li.active > a:hover {
  border: none;
}

.nav-tabs > li.active > a:focus {
  border: none;
}

.tab-content {
  padding-right: 15px;
  padding-left: 15px;  
}

#taxonomy-tree {
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-imgs {
  border: 2px solid #ff9f1c;
  border-radius: 10px;
}

// Small tag for general info
#section1 > h2 > small {
  color: #1d2450; //Body blue
}
// About page color
div.a-well > h4 > strong {
  color: #1d2450; //Body blue
}
