.show-title {
  font-family: serif;
  color: white;
  // border: 8px solid rgb(255, 159, 28); 
  border-bottom: 8px solid #ff9f1c;
  border-bottom-style: double;
  background-color: rgba(4, 15, 76, 0.70);   // 90% pinkish
}

div.panel-body {
  color: white;
  font-family: 'Roboto', sans-serif;
  
}

.avatar-element {
    border: 4px solid white;
}