.show-title {
  font-family: serif;
  color: white;
  // border: 8px solid rgb(255, 159, 28); 
  border-bottom: 8px solid #ff9f1c;
  border-bottom-style: double;
  background-color: rgba(4, 15, 76, 0.70);   // 90% pinkish
  padding: 10px;
}

div.panel-body {
  color: white;
  font-family: 'Roboto', sans-serif;
  h5 > small {
    color: rgb(255, 159, 28);
  }
}

.avatar-element {
    border: 4px solid white;
}

div.panel-body > ul > h5 {
  color: white;
}

div.panel-body >a > h4:hover {
  color: #ff9f1c;
}

div.panel-body > ul > h5 > small {
  color: rgb(255, 159, 28);
}

div.panel-heading > h4 > small {
  color: rgb(255, 159, 28);
}

a#menu-toggle > span:hover {
  color: #ff9f1c;
}

.panel-body > a > h5:hover {
  color: #ff9f1c;
}

.panel-body > ul > a > li > h5:hover {
  color: #ff9f1c;
}

.breadcrumb > li > a:hover {
  color: #ff9f1c;
}